<!-- app/views/accounts/edit.html.erb -->
<div class="container">
  <h1>Editar Conta</h1>
  <%= render 'form', account: @account %>
  <%= link_to 'Voltar', accounts_path, class: "btn btn-link" %>
</div>
<%= render template: "layouts/modal" do %>
  <div class="modal-header">
    <h5 class="modal-title">Editar Conta</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= render 'form', account: @account %>
  </div>
<% end %>